# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules
dist
dist-ssr
*.local

# Tauri / Rust
src-tauri/target/
src-tauri/gen/

# Build outputs
*.msi
*.exe
*.deb
*.AppImage
